*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EDD264;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo-area{
    color:#3B2D64;
}
.logo-area h1{
    font-size: 35px;
}
.manu li{
    display: inline-block;
    padding: 15px 25px;
}
.manu li a{
    text-decoration: none;
    font-weight: bold;
    color:#fff;
}
.search-btn{
    background-color: #3C2E64;
    color:#fff
}
.foods{
    padding:0 0 20px 0;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.foods img{
    width: 100%;
}
.foods h3{
    margin-top: 10px;
}
#foodItem{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
#showFoodInfo{
    width: 400px;
    background-color: rgb(24, 117, 160);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%,-50%);
    color:#fff;
    display: none;
}
#showFoodInfo img{
    width: 100%;
}
#closeBtn{
    position: absolute;
    left: 85%;
    top: 4%;
    color:#fff;
    font-size: 40px;
}